html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 1002px;
	min-height: 768px;
	background: rgba(135, 206, 250, 1);
}

body {
	position: relative;
	background-image: url(../img/login_bg_01.jpg);
	background-size: 100%;
	background-repeat: round;
}

#loginBox {
	position: absolute;
	top: calc(50% - 300px);
	left: calc(50% - 225px);
	box-sizing: border-box;
	width: 450px;
	height: 550px;
	box-shadow: 0 0 50px rgb(250, 250, 250);
	background: rgba(37, 38, 55, 0.5);
	border-radius: 5px;
}

#loginBox h1 {
	text-align: center;
	font-size: 25pt;
	font-family: "微软雅黑";
	color: rgba(250, 250, 250, 1);
	text-shadow: 0 0 10px rgba(135, 50, 250, 1);
}

#loginBox input {
	display: block;
	box-sizing: border-box;
	width: 300px;
	height: 40px;
	margin-left: calc(( 100% - 300px)/2);
	margin-bottom: 20px;
	background: #D9FFFF;
	border: 0;
	box-shadow: 0 0 10px #00FFFF inset;
	color: #600000;
	font-size: 25px;
	font-weight: 500;
	font-family: "微软雅黑";
	padding: 5px;
}

#loginBox input:nth-child(2) {
	text-indent: 1.2em;
}

#loginBox input:nth-child(3) {
	text-indent: 1.2em;
}

#loginBox input:focus {
	box-shadow: 0 0 10px #2894FF inset;
	background: rgba(255, 255, 255, 1);
}

#loginBox input[type=submit] {
	background: #7CFC00;
	/*box-shadow: 0 0 10px #921AFF inset;*/
	border: 2px solid #00FFFF;
	color: #191970;
	border-radius: 4px;
}

#loginBox #yzmText {
	width: 120px;
	text-align: center;
}

#loginBox #yzm {
	position: absolute;
	left: calc( ( 100% - 300px) / 2 + 140px);
	margin-top: -60px;
	width: 160px;
	height: 40px;
	background: rgba(250, 250, 250, 0.5);
}

#loginBox .fen {
	text-align: center;
	color: white;
	font-size: 12pt;
}

#loginBox .fen span:first-child, #loginBox .fen span:last-child {
	display: inline-block;
	width: 70px;
	height: 2px;
	background: white;
	border: 1ps solid white;
	margin-bottom: 3pt;
	margin-left: 5pt;
	margin-right: 5pt;
}

#loginBox .loginMore {
	text-align: center;
}

#loginBox .loginMore img {
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	padding: 5px;
	border: 1px solid rgba(250, 200, 150, 1);
	cursor: pointer;
}

#loginBox .loginMore img:hover {
	background: rgba(250, 250, 250, 0.5);
}